.tiltWrapper {
  padding: 1rem;
  border-radius: 10%;
  width: 12rem;
  height: 12rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 39px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 39px -14px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 39px -14px rgba(66, 68, 90, 1);
}

.logo {
  width: 100%;
  height: auto;
}
